
:root {
    --col-text-main: rgb(190, 234, 255);
	--col-text-alt: rgb(255,255,255);
    --col-background: #0808087f;

	--transition-speed-fast:   0.25s;
	--transition-speed-medium: 0.33s;
	--transition-speed-slow:   0.50s;

	--corner-radius: 0.25em;
	--corner-radius-big: 0.33em;
}

@font-face {
	/* Comfortaa by Johan Aakerlund - https://fonts.google.com/specimen/Comfortaa
	Converted to WOFF2 */
	font-family: "Comfortaa";
	src: url("/fonts/Comfortaa-VariableFont_wght.woff2") format('woff2');
}

@font-face {
	/* Orbitron by Matt McInerney - https://fonts.google.com/specimen/Orbitron
	Converted to WOFF2 */
	font-family: "Orbitron";
	src: url("/fonts/Orbitron-VariableFont_wght.woff2") format('woff2');
}

@font-face {
	/* Metrophobic by Vernon Adams - https://fonts.google.com/specimen/Metrophobic
	Converted to WOFF2 */
	font-family: "Metrophobic";
	src: url("/fonts/Metrophobic-Regular.woff2") format('woff2');
}

html {
    --screen-size: calc(sqrt(100vh) * sqrt(100vw) / 1440px);
	--font-size-const: 0.67;
	--font-size: calc((25px + 5px * pow(round(to-zero, var(--screen-size) / 0.85px), 2)) * var(--font-size-const));

    font-family: 'Metrophobic', Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-size);
	color: var(--col-text-main);

    background-color: #090909;

	scroll-behavior: smooth;
	box-sizing: border-box;
}
@media (orientation: portrait) {
	html {
		--font-size: calc((4vmin + 2px) * var(--font-size-const));
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

/* BACKGROUND */

/* Pseudo-elements defaults */
html::before,
html::after,
body::before {
	content: "";
	position: fixed;
	inset: 0;
}

/* Base pattern layer */
html::before {
	z-index: -3;

	background: url("/img/stars.webp") repeat;
	background-size: 25vw;
}

/* Animated flickering layer */
html::after {
	z-index: -2;

	background: url("/img/stars_mirrored.webp") repeat;
	background-size: 25vw;

	animation: Bkg 15s infinite linear;
}
@keyframes Bkg {
	0%, 100% { opacity: 0.0; }
	25%, 75% { opacity: 0.5; }
	50%      { opacity: 1.0; }
}

/* Scaling in portrait */
@media (orientation: portrait) {
	html::before,
	html::after {
		background-size: 50vh;
	}
}

/* Gradient at the top */
body::before {
	--col-grad-inner: #00000000;
	--col-grad-outer: #00000064;

	z-index: -1;
	
	background: radial-gradient(circle, var(--col-grad-inner), var(--col-grad-outer));
}

body {
	overflow: hidden;
}

/* ---====== GENERAL ======--- */

.bar {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	padding: 0.5em;

	background-color: var(--col-background);

	border-style: solid;
	border-color: var(--col-text-main);
	border-width: 0;

	&.top {
		top: 0;
		border-bottom-width: 1px;
	}

	&.bottom {
		bottom: 0;
		border-top-width: 1px;
	}

	&.small {
		width: auto;
	}

	&.left {
		left: 0;
		border-right-width: 1px;
		border-bottom-right-radius: var(--corner-radius);
	}

	&.right {
		right: 0;
		border-left-width: 1px;
		border-bottom-left-radius: var(--corner-radius);
	}
}

.group {
	z-index: 10;
}

.sidePanel {
	position: absolute;

	padding: 0.25em;

	background-color: var(--col-background);

	border: 1px solid var(--col-text-main);
	border-radius: var(--corner-radius);

	top: 50%;

	transform: translateY(-15em);

	&.left {
		left: 0;
		border-left-width: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&.right {
		right: 0;
		border-right-width: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.panelContent {
	overflow-y: auto;
	width: 20em;
	height: 25em;

	transition: var(--transition-speed-fast);

	&.closed {
		overflow: hidden;
		width: 0;
		height: 0;
	}
}

#warpSlider {
	width: 15em;
}

#generatorSettings {
	position: absolute;
	top: 0;
	overflow: hidden;

	width: 100%;
	height: 0;

	background-color: var(--col-background);

	transition: var(--transition-speed-fast);

	&.open {
		overflow-y: auto;
		height: 100%;
	}
}

#settingsContent {
	margin: 3em 1em;
	height: 100%;
}

button {
	min-width: 3em;

	border-radius: var(--corner-radius);

	color: var(--col-text-main);
	
	background-color: var(--col-background);

	&:hover {
		cursor: pointer;
		filter: brightness(1.15);
	}

	&.toggle {
		&.on {
			background-color: gray;
		}
	}
}

.ui {
	transition: var(--transition-speed-slow);
	opacity: 1;

	&.hidden {
		opacity: 0;
	}
}

.tab button {
	font-size: large;
	float: left;
	padding: 0.75em 0.75em;

	color: var(--col-text-alt);
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;

	transition: var(--transition-speed-medium);

	&::before {
		padding-right: 0.25em;
		content: '≡';
	}

	&.btn::before {
		content: none;
	}
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: var(--col-tab-hover);
}

/* Create an active/current tablink class */
.tab button.active {
 	background-color: var(--col-tab-active);
}

/* Style the tab content */
.tabContent {
	display: none;
	padding: 0.5em 1em;
	text-align: center;

	background-color: var(--col-background);
	border: 1px solid #ccc;
	border-top: none;

	&.active {
		display: block;
	}
}

.tree {
	--spacing: round(up, 1.25em, 2px);
	--radius: 0.2em;
	padding-inline-start: 0;
}

.tree li {
	display: block;
	position: relative;
	padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
	margin-left: calc(var(--radius) - var(--spacing));
	padding-left: 0;
}

.tree ul li {
	border-left: 2px solid #ddd;
}

.tree ul li:last-child {
	border-color: transparent;
}

.tree ul li::before {
	content: '';
	display: block;
	position: absolute;
	top: calc(var(--spacing) / -2);
	left: -2px;
	width: calc(var(--spacing) + 2px);
	height: calc(var(--spacing) + 1px);
	border: solid #ddd;
	border-width: 0 0 2px 2px;
}

.tree li::after {
	content: '';
	display: block;
	position: absolute;
	top: calc(var(--spacing) / 2 - var(--radius));
	left: calc(var(--spacing) - var(--radius) - 1px);
	width: calc(2 * var(--radius));
	height: calc(2 * var(--radius));
	border-radius: 50%;
	background: #ddd;
}

.body {
	&.active {
		text-shadow: 0 0 1.0em white;
		font-weight: bold;
	}

	&:hover {
		cursor: pointer;
		filter: brightness(1.15);
	}
}
.body::before {
	content: '';
	position: relative;
	right: 0.25em;
}
.binary::before {
	content: '♋';
}

.star::before {
	content: '☀️';
}

.giant::before {
	content: '🪐';
}

.planet::before {
	content: '🌑';
}

table {
	font-size: 80%;
	width: 100%;
}

th, td {
	padding: 0.25em;
}

th {
	text-align: right;
	width: 38%;
}

th[colspan="2"] {
	text-align: left;
}
